html{
    background-color: slategray;
}
body{
    background-color: blanchedalmond;
    border: 1px solid black;
    display: table;
    width: 80%;
    margin: auto;
    min-height: 700px;
    padding: 20px;
}
article{
    padding: 10px;
    display: grid;
    grid-template-columns: 65% 35%; 
    grid-template-rows: 400px 300px;               
}
section{
    padding: 5px 10px;
}
section.main{
    grid-row:1/2;
    grid-column: 1/2;
    border-right: 1px dotted black;
}
section.statistics{
    grid-row:2/3;
    grid-column: 1/2;
    border-right: 1px dotted black;
}
section.form_entry{
    grid-row:1/2;
    grid-column: 2/3;    
}
section.form_entry > form{    
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
}

section.form_entry > form >*{
    flex: 1 1 300px;
}

form{    
    flex: 1 1 600px;
    display: flex;
    flex-flow: row wrap;
}
form > div{    
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
}
form > div >*{
    flex: 1 1 200px;
    
}
div{
    margin-bottom: 15px;
}

h1{
    line-height: 1.5em;
    font-size: 2em;
    font-family: Helvetica, Arial, sans-serif;
}
h2{
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}
table{
    
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}
td, th{
    border-collapse: collapse;
    border-bottom: 1px solid rgb(126, 126, 126);
    padding: 5px;
    text-align: left;
}
th{
    padding: 10px 5px;
}

thead,th{
    background-color: chocolate;
    color: white;
    font-size: bigger;
    line-height: 1.2em;    
    
}
.evenRow tr{
    background-color: ivory;
}
input{
    margin-bottom: 3px;
}
input[type="submit"]{                
    padding: 5px;
    min-width: 50%;
}

.error{
    padding: 2px;
    background-color: crimson;
    color: whitesmoke;
    width: 99%;
}
.error h4{
    margin: 5px 5px;
}
.error ul{
    margin: 5px 5px;
}

table td:last-child{
    text-align: right;
}
.statistics td:last-child, .statistics td:nth-last-child(2){
    text-align: right;
}

input[type="text"], input[type="email"], select{                    
    margin-bottom: 2px;
    width: 100%;
}

input[type="submit"]{  
    color:whitesmoke;
    margin: 10px;              
    padding: 5px;
    width: 90%;
    font-size: 1.2em;
    line-height: 1.2em;
    background-color: chocolate;
}